.addTodo {
	width: 320px;
	margin: 20px auto;
}
.addTodo >form>input {
	border: 1px solid #666;
	outline-style: none;
}
.addTodo >form>a {
	margin-left: 10px;
}
.todoList {
	width: 480px;
	height: 600px;
	margin: 20px auto;
	border: 1px solid green;
}
.todoList > ul {
	list-style-type: none;

}
.todoItem {
	height: 44px;
	border-bottom: 1px solid #666;
}
.todoItem > p {
	line-height: 44px;
}