.addTodo {
	width: 480px;
	margin: 20px auto;
}
.addTodo >form {
	width: 400px;
	margin: 0 auto;
}
.addTodo >form>input {
	border: 1px solid #666;
	outline-style: none;
}
.addTodo >form>a {
	margin-left: 10px;
	border: 1px solid #ffb300;
}

/* todoList中的内容css */
.todoList {
	width: 480px;
	height: 600px;
	margin: 20px auto;
	border: 1px solid green;
}
.todoList > ul {
	list-style-type: none;

}
.todoItem {
	height: 44px;
	border-bottom: 1px solid #666;
}
.todoItem > p {
	line-height: 44px;
}
.active {
	text-decoration: none;
}
.completed {
	text-decoration: line-through;
}